.term {
margin: 0;
position: absolute;
padding:3px;
top: 46%;
left: 50%;
transform: translate(-50%, -50%);
overflow: auto;
font-size: 13px;
width: 333px;
color:white;
}
.about {
margin: 0;
color:white;
position: absolute;
padding:3px;
top: 46%;
left: 50%;
transform: translate(-50%, -50%);
overflow: auto;
font-size: 13px;
width: 600px;
}

.abouttext {
position: absolute;
color:white;
top:40%;
left: 27%;
overflow:auto;
font-size:13px;
text-align:center;
width:600px;
}
body {
font-family: 'Trebuchet MS', sans-serif;
background: black;
}